[submodule "ds_rtc_lib"]
path = firmware/ds_rtc_lib
url = git@github.com:rmoravcik/ds_rtc_lib.git

[submodule "light_ws2812"]
path = firmware/light_ws2812
url = git@github.com:rmoravcik/light_ws2812.git
